[2020-03-21 04:14] EchocallingEarth opened #1 "Issue/Question"
When using the plugin the chat is spammed by a Message if a block is in the sender chest that is not in a receiver chest.

Msg

This message repeats for the number of items in a chest that have no receiver.
How to disable or fix this, please.

Once done I'll leave a review as other than this issue this plugin is perfect for my server's needs. But if I left a review now it would be less then favora

[2020-03-21 13:26] #1 closed

[2020-03-21 13:27] flokol120 commented on #1
This is definitely a bug! Than you for reporting it directly here on GitHub!

The Problem - in your case - was assumingly that you did not define any 'air chest' (which is completely fine and totally not an error on your side). This way the plugin thought you haven't got any receivers whilst you only didn't have any 'air receiver'.

I fixed the issue by moving the if-branch displaying the message

[2020-03-21 14:08] EchocallingEarth commented on #1
Working perfectly fine and thank you

[2020-03-27 12:06] flokol120 opened #5 "Performance issues"
The Plugin TopLite (https://www.spigotmc.org/resources/toplite.1140/) shows the usage of all plugins installed.
On my production server I noticed that the plugin was heavily demanding resources!

[2020-03-27 14:07] flokol120 commented on #5
A timings report showed that the changes made in the latest commit reduced the resource demand of the plugin.

[2020-03-27 14:07] #5 closed

[2020-03-28 20:30] flokol120 opened #6 "If many players on a server are configuring their own setup, the wrong sender could be selected"
solution:
make currentSender dependent on the users uuid.

[2020-03-28 20:32] #6 closed

[2020-03-30 20:06] corylulu opened #7 "Sender/Receiver need to either be tied to a player, be created together, or Receivers should be created upon assigning a Sender."
I figured out was an issue is the fact that the senders/receivers aren't linked to a player, which can result in two players making sender items one after another, then each make a receiver items and it results in both the receivers going to the second sender.

I was having weird issues like that. Perhaps it could also be solved by creating a receiver automatically after a sender hoe is used on a

[2020-03-30 20:10] corylulu commented on #7
Oh, just saw you already made a similar ticket. Is this already resolved?

[2020-03-30 20:10] flokol120 commented on #7
possible duplicate of #6

[2020-03-30 20:11] flokol120 commented on #7
Yes, this is fixed with 9022456735078c6326b68b36f8c75391453cdfb6

[2020-03-30 20:14] corylulu commented on #7
Need to investigate some more, but I've also been having issues with items that are supposed to be going to an Air chest just disappearing...

Additionally, I think I was actually able to find the items again upon breaking either a sender or receiver chest, but I had reset the configuration file a couple times in between, so I'd need to verify if that was just a fluke.

[2020-03-30 20:25] corylulu opened #8 "Sender chests should also be able to be Receiver chests (optionally)"
[Relevant](https://github.com/flokol120/Spigot-Item-Chest-Sorter/blob/9022456735078c6326b68b36f8c75391453cdfb6/src/main/kotlin/com/flodoerr/item_chest_sorter/Listener.kt#L541)

Would be nice to allow the ability to daisy chain chests together so you can have a Sender chest send to a remove Sender chest and then sorted into that Sender's Receiver chests.

This could either be made optional for thos

[2020-04-02 12:48] flokol120 commented on #7
@corylulu the issue with "disappearing" could be linked to the issue that another person mistakenly selected a receiver chest for your sender chest.
I have never witnessed that item disappeared. The part of item deletion is also pretty safe coded (imho). First a copy of the items are added to the receiver chest. If this part was successful the items are deleted from the sender chest. So the risk o

[2020-04-02 12:48] #7 closed

[2020-04-02 12:51] flokol120 commented on #8
I also thought about this idea. Should be fairly easy because I am calling the onInventoryMoveEvent() after adding the items to the new chest.
I will implement it and make it toggleable in the config.yml.

[2020-04-02 13:51] flokol120 commented on #8
basic implementation is now ready. There is one big flaw though: You can create a loop which results in a server crash! This bug has to fixed before a release version can be published. This is unfortunately not easily fixable.

[2020-04-02 13:55] flokol120 commented on #8
This whole plugin is kind of cheating to be honest. Maybe I will add a costly crafting recipe and  some kind of wear to the item.

[2020-04-08 17:36] pigvader opened #9 "using redstone-signal"
I use a hopper to put my items in the sender chest.
So,  is it possible that the items are sorted using a redstone signal?
currently i have to put my stuff in the sender chest and It's a bit cumbersome in the long run

[2020-04-08 18:29] flokol120 commented on #9
Which version are you using?
Sender chests are able to accept items from hopper. This feature is enableable in the config.yml.

[2020-04-09 18:30] pigvader commented on #9
Hi
ich habe die neuste Version von dir und die MC Version 1.15.2
Das Ding ist folgendes:

Ich benutze ein Plugin um von einem Hopper die Items in eine Chest zu transferieren ("wireless"). Zwischen dieser Chest und der Sender-Chest ist ein Hopper. In der config habe ich die Option mit dem Hopper aktiviert. Allerdings muss ich dennoch jedes Mal "in die Kiste gucken" damit der Inhalt wegsortiert wird

[2020-04-11 17:50] flokol120 commented on #9
@pigvader please keep this in english. Otherwise other people cannot follow if they are facing the same issue.
This is very strange. Here are some questions to troubleshoot your stated behavior:
Have you reloaded/restarted the server after making the change to the config.yml?
What happens if you manually put items into the chest which is connected by a hopper to your sender chest? Are the items th

[2020-04-11 19:31] pigvader commented on #9
sorry, then in English ;-)

I found the mistake...
It was because of my poor intelligence.
I made a mistake in Set 1.1 in config.
As a result, the config was not loaded.

Fixed the bug and now it works.

Thanks for the hint :)

[2020-04-11 19:39] flokol120 commented on #9
Alright. At least you had the intelligence to find the error by yourself :stuck_out_tongue:

Just an idea...: You can also use this plugin to transport items from a hopper to a container (container = chest, barrel, hopper, ...). This way you could get rid of the other plugin to save some server resources. (This is possible since the latest version and not fairly well documented. I will have to upd

[2020-04-11 19:40] #9 closed

[2020-04-11 20:30] EchocallingEarth opened #10 "Request config option for per world item sorting"
Requesting a change in the config to allow admin/owner to decide permission on allowing or denying world to world item sorting. Currently not possible and if attempted throws a huge in console error.

If this is not an option then let me know so I can request a bug report be filed that would remove the console error and fix it with a chat message to the player saying something along the lines of "

[2020-04-15 14:39] flokol120 commented on #10
@EchocallingEarth Sorry for not responding quicker. Strangely I am not receiving any notifications from GitHub :(

This is a bug which I - admittedly - know existed. This however is not an easy fix. But I will look into it as soon as I have some free time.

[2020-05-30 21:24] AwooCrewSevilla opened #11 "There should be an option to delete all receiver and sender chest claims to make a new claim"
while the tool has been extremely useful, it is a very tedious process to have to hit T and click every time you want to delete a chest, and if you do it too many times you get kicked from a server for spamming, if there was a mass remove all claims on all the chests to be able to start the system over it would make expanding the send/receive chests a lot easier when you mess something up.

[2020-06-14 05:23] revetz opened #12 "Unable to connect multiple sender chests to one reciever chest"
Not really sure what the problem is, just isn't working

[2020-06-20 14:11] flokol120 commented on #11
@AwooCrewSevilla Thanks for the interest in my plugin! If you delete a sender all its receivers are going to be deleted to. Is this what you are trying to achieve or did I misunderstand you?

[2020-06-20 14:13] flokol120 commented on #12
This is not supported and will not be due to early design choices. You could achieve what you want to do by first defining a sender which sends items to another sender which than sends those items to your desired receivers.

[2020-06-20 14:13] #12 closed

[2020-06-20 14:15] flokol120 commented on #12
Whoops, the feature I am refering to is not yer published. It will be as soon as I have time to do further work on #8.

[2020-06-29 20:58] flokol120 commented on #10
The cross world sorting feature is now implemented. Permissions will be implemented in a future update.

[2020-06-30 15:23] #10 closed

[2020-07-04 22:18] imteekzo opened #13 "sorting items outside of their item 'type'"
is/would it be possible to sort items outside of their type into the same container using sets?

for example, to sort all logs and planks into one chest, or to sort all armor types and slots (iron pants, diamond boots, leather chest etc) into one chest?

i have tried defining sets using all 3 methods outlined in the config.yml but have no success with getting items outside of their item type into

[2020-07-05 19:45] flokol120 commented on #13
The feature is not really tied on an items "type". Please provide your config.yml as text, I do not have time and joy copying those sets from your screenshot for further testing :stuck_out_tongue_winking_eye:

[2020-07-05 19:47] flokol120 commented on #13
Also, what is your setup in-game?

[2020-07-06 02:46] imteekzo commented on #13
[config.yml.txt](https://github.com/flokol120/Spigot-Item-Chest-Sorter/files/4876509/config.yml.txt)

here's the config in text format. as mentioned before i tried 3 different methods and none of the three worked, they're all labelled as "structure group" #1, 2 and 3.

my setup in-game is very simple right now, it's just one sender and one receiver chest. receiver chest has an item frame, and i ha

[2020-07-06 06:23] flokol120 commented on #13
Thank you for providing those information! That is very strange. I will take a deeper look into it.

[2020-07-06 06:45] flokol120 commented on #13
All sets are working as expected for me. Which version are you using? Did you reload the server when you changed the sets within the config.yml?
A small mistake in your regex sets (but I doubt this is related to your issue as you commented those out): When using regex you need to put single quotes before every item:
`- ['.*_chestplate, .*_helmet, .*_leggings, .*_boots']` --> `- ['.*_chestplate', '

[2020-07-06 12:00] imteekzo commented on #13
i totally understand what i did wrong now. when i first installed the mod i was using an auto installed version via multicraft and it was not pulling the config from the file at all. i just uninstalled the auto installed version, rebuilt the jar myself in intellij and uploaded it manually. with the config file next to chests.json in /Item-Chest-Sorter/ it's now working seamlessly

thank you very m

[2020-07-06 12:00] #13 closed

[2020-07-06 12:45] flokol120 commented on #13
Not a problem. I am glad I could help!

[2020-07-10 15:52] flokol120 commented on #11
closed due to inactivity.

[2020-07-10 15:52] #11 closed

[2020-09-06 11:27] FirstLadyAnna opened #14 "Shulkerbox into shulkerbox into ..."
Es ist bei Minecraft nicht umsonst unmöglich, Shulkerkisten in Shulkerkisten zu füllen! Mit ICS geht das aber! Spieler können eine Shulkerkiste als Empfänger einrichten und können die gefüllten Shulkerkisten in den Sender packen. Damit werden die gefüllten Shulkerkisten in eine Shulkerkiste gepackt und diese kann man dann abbauen und theoretisch wieder in eine Senderkiste packen. Irgendwann rechne

[2020-09-06 13:11] flokol120 commented on #14
@FirstLadyAnna Thanks for your input. This makes total sense. The next time you file an issue on GitHub, make sure to formulate it in english for others to understand. It is really annoying to find something you cannot understand. Short translation:
It is possible to define shulker boxes as senders and receivers. Shulker boxes, however are meant to be picked up. This leads to the server looking fo

[2020-09-06 15:16] FirstLadyAnna commented on #14
Sorry for my bad english. Iam glad that you will fix it. Server chrashes are not nice

[2020-09-06 15:18] flokol120 commented on #14
@FirstLadyAnna No need to apologize, my english is far from perfect as well. It is already fixed. If you want it to be disabled, you just have to replace the .jar file in your plugins folder with the newest 1.7.1 version.

[2020-09-06 15:52] FirstLadyAnna commented on #14
Many Thanks for qick resonse and quick fix!!! Its terrific!
 Unfortunately, the players can still dismantle the already registered receiver box and place a shulker box instead. Since only the location of the box is registered, it is unfortunately still possible to pack Shulker boxes in Shulker boxes.

[2020-09-06 15:59] flokol120 commented on #14
@FirstLadyAnna Oh, Touché. I will try to detect that. But preventing that in the first place would be more tricky. But I will look into that...

[2020-09-06 16:15] #14 closed

[2020-09-06 16:19] flokol120 commented on #14
@FirstLadyAnna If a chest is replaced with a shulker box, the plugin refuses to send items to it. Please report back if it fixed now.

[2020-09-06 17:02] FirstLadyAnna commented on #14
I'm so happy! Now it's perfect! Nice job, and especially so fast! Thank you very much!

[2020-09-06 17:08] flokol120 commented on #14
@FirstLadyAnna Glad you like it! You were lucky you got me on a free sunday. Usually I am not that fast if I got other work to do :stuck_out_tongue:

[2020-09-06 17:12] FirstLadyAnna commented on #14
All's well that ends well.

[2020-09-22 07:04] LoneDevilX opened #15 "Suggestion"
The item chest sorter are manually open&close to active the sorter system.

Is it available / possible to make it without manual active? Can it be automatic?

[2020-09-22 07:08] flokol120 commented on #15
@LoneDevilX I hope I understood your question correctly: Items are send when somebody closes a sender chest, a hopper places items into a sender chest und when a receiver puts items into a sender chest (only if this experimental feature is enabled in the config.yml).

[2020-09-22 07:14] LoneDevilX commented on #15
Hm... What I mean is , the items will only be transferred if we manually open & close the hopper/chest (sender).

Can It be automatically rather than we need to manually open & close.

[2020-09-22 07:18] flokol120 commented on #15
Items are moved on the InventoryMoveItemEvent, which should be "automatic" in your case. Maybe give me an example on what you are trying to achieve (eg. how are you putting items in the chest).

[2020-09-22 07:21] LoneDevilX commented on #15
Oh... The items are either move by Vanilla hopper / another 'RECEIVER' ( can sender A become Receiver B also?).

Sender A = Receiver B

the Sender A wanted to transfer diamond to Receiver A
The Sender A chest will be filled by Vanilla hopper / Sender B

Sender A will be full and unable to move the item to Receiver A if I didn't manually open & close

[2020-09-22 07:26] flokol120 commented on #15
Your example should work as a vanilla hopper triggers the InventoryMoveItemEvent when passing items to a sender chest. What version are you using?
It is possible to chain senders and receiver systems, yes. This feature however should not be used on a public server for now because you could create loops that would eventually crash the whole server. On a private server this feature can be used, but

[2020-09-22 07:33] LoneDevilX commented on #15
My example should work as
When a vanilla hopper transfer items into Sender Chest, then sender chest should automatically trigger the InventoryMoveItemEvent & pass to Receiver Chest

I am a public server using version Paper 1.15.2 .

[2020-09-22 07:36] flokol120 commented on #15
I mean which version of the plugin are you using :stuck_out_tongue_winking_eye:

[2020-09-22 07:40] LoneDevilX commented on #15
Bruh hahahahha
I am using the latest one just downloaded from Github.

[2020-09-22 07:43] flokol120 commented on #15
Alright. I'll investigate your issue further. But I can't tell when I have time to do so.

[2020-09-22 07:44] LoneDevilX commented on #15
No worry, anyway is there any further/convenience way to reach you rather than Github?

[2020-09-28 13:35] flokol120 commented on #15
Hi @LoneDevilX,
please share your config.yml with me for further investigations.

And no there is no other contact possibility as I'd like to keep such dialogs on GitHub for others who may have the same issue.

[2020-09-29 02:50] LoneDevilX commented on #15
[Item-Chest-Sorter.zip](https://github.com/flokol120/Spigot-Item-Chest-Sorter/files/5296060/Item-Chest-Sorter.zip)

Okay

[2020-10-01 13:22] flokol120 commented on #15
@LoneDevilX
I investigated your issue by using the same config.yml and chests.json. However it was working perfectly fine on my end. This leads me to believe that this issue is due to Paper. I do not officially support Paper and I do not know enough about it to investigate your issue further. Sorry about that :(. My suggestion: Try to Send the items this way A Sender --> A Receiver AND B Sender --

[2020-10-02 02:23] LoneDevilX commented on #15
The vanilla hopper --> Sender A , it still automatically send to Receiver A? (Without manually open&Close?)

[2020-10-02 14:00] flokol120 commented on #15
@LoneDevilX This is working for me, yes.

[2020-10-03 11:50] LoneDevilX commented on #15
Oh okay.. may I ask when will this plugin officially support Paper?

[2020-10-05 06:58] flokol120 commented on #15
@LoneDevilX No, I don't think I have time to read through their docs to figure this issue out. Closing for now.

[2020-10-05 06:58] #15 closed

[2020-11-13 22:50] IgnorantMountaineer opened #16 "1.16.4 error"
I get the following error when using on Paper 1.16.4

[17:37:35 ERROR]: Could not pass event InventoryCloseEvent to Item-Chest-Sorter v1.7.2
java.lang.ClassCastException: class org.bukkit.craftbukkit.v1_16_R3.block.CraftBlockState cannot be cast to class org.bukkit.block.Container (org.bukkit.craftbukkit.v1_16_R3.block.CraftBlockState and org.bukkit.block.Container are in unnamed module of loader

[2020-11-13 23:20] flokol120 commented on #16
This plugin does not support Paper (see #15). If the problem persists with an official spigot build, feel free to re-open this issue.

[2020-11-14 00:56] IgnorantMountaineer commented on #16
1.16.4 spigot experiences a similar issue when (I think) breaking or adding chest.

Could not pass event InventoryCloseEvent to Item-Chest-Sorter v1.7.2
org.bukkit.event.EventException: null

...

Caused by: java.lang.ClassCastException: class org.bukkit.craftbukkit.v1_16_R3.block.CraftBlockState cannot be cast to class org.bukkit.block.Container (org.bukkit.craftbukkit.v1_16_R3.block.CraftBlockSt

[2020-11-14 09:57] flokol120 commented on #16
@IgnorantMountaineer I just tested the newest version with 1.16.4. I cannot replicate your issue. If the error would be thrown when breaking and relocating the chest without removing it with the right tool, I would say that this is okay, as you are supposed to not break chests without removing them properly. But Even when replacing a double chest with one facing the other direction, everything wor

[2020-11-15 01:42] IgnorantMountaineer commented on #16
@flokol120 That's totally fair, and you're right, it doesn't cause any break in functionality that I can tell. I was just trying to thoroughly test the plugin before switching to it. One suggestion for future iterations: prevent individuals from breaking the chest before removing it instead of throwing an error.

But the plugin is great, thank you for all your hard work for free, we all appreciate

[2020-11-15 11:13] flokol120 commented on #16
@IgnorantMountaineer thanks! That is indeed a good Feature idea for public servers. I will take a look into it.

[2020-11-17 14:52] flokol120 commented on #16
@IgnorantMountaineer The new version should fix your issue. Could you please test it and report back (https://github.com/flokol120/Spigot-Item-Chest-Sorter/releases/tag/1.7.3)?

[2020-11-17 16:12] Psyconcept opened #17 "ICS with PlotSquared"
Hello I have the plugin on my CityBuild server. It works as promised, but I don't think it's compatible with PlotSquared. Because users on stranger plots can also create Sender boxes, and on their plots receivers. Is there any solution for a user to use it ONLY on his plot and on no strangers?

[2020-11-17 16:21] flokol120 commented on #17
@Psyconcept Hi, thanks for the interest in my plugin. I am afraid I do not have time to implement that feature because I would have to read their API docs. But if you happen to have experience + time you could try to implement it yourself as this plugin is open-source.

[2020-11-17 20:13] IgnorantMountaineer opened #18 "[Suggestion] Configurable Chat"
Not a big deal, but flokol if you're looking to continue improving this, one idea may be to allow for a configurable chat as, at the moment, it's sometimes a bit much for users.

[2020-11-17 20:23] IgnorantMountaineer commented on #16
Yes, this does appear to fix the issue. Thanks so much!

[2020-11-17 20:23] #16 closed

[2020-11-17 22:04] flokol120 commented on #18
@IgnorantMountaineer what do you exactly mean by "configurable chat"? A global flag to disable chat messages?

[2020-11-18 00:07] IgnorantMountaineer commented on #18
Sure, I would say at a basic level, the first thing would be to disable or enabled "sorting messages". I.e. "You sorted X amount of items" message could be turned off.

`val message = "${ChatColor.GREEN}sorted ${ChatColor.YELLOW}${amount} ${ChatColor.GREEN}${ChatColor.AQUA}${getItemName(content)} ${ChatColor.GREEN}to your chest"
        if(player != null) {
            player.sendMessage(message)`

[2020-11-18 19:47] #17 closed

[2020-11-26 21:00] EscolarProgramming opened #19 "NPE on Inventory Close Event"
Hello,
We get spammed with NPE's from your plugin. We're running on git-Paper-186 (MC: 1.16.2) with Item Chest Sorter v1.7.3.

Here's the stacktrace: https://hastebin.com/ebosidaziv

It would be nice if you could have a look :)

[2020-11-26 21:14] flokol120 commented on #19
Hey, this looks very similar to #16 As stated before, paper is not and will not be supported. If you can reproduce this issue with a spigot server, I am willing to take a look into it.

[2020-11-27 06:48] EscolarProgramming commented on #19
Ah sorry, I hadn't looked into the closed ones. I will try to reproduce it, and also look into the code to figure out the problem with paper.

[2020-11-27 07:47] flokol120 commented on #19
Nice, thanks for your contribution!

[2021-01-15 21:09] Leahcimkrob opened #20 "Books will disappear"
When my chest is full of books, all other books disappear and do not end up in the air chest.
Air chest is empty. I have this issue only with books.

[2021-01-15 21:09] Leahcimkrob opened #21 "Flat-DB has 3MB size"
Can you add MySQL-Support?

[2021-01-15 21:41] flokol120 commented on #21
@Leahcimkrob I dont really see the use in adding relational database support. The json file is read after the plugin is loaded and kept in-memory to be super fast. But feel free to implement it yourself, if you are able to.

[2021-01-15 21:51] Leahcimkrob commented on #21
The Flat-File has 3 MB, if a user add another Chest to his System, the server will lagging.

[2021-01-15 21:54] flokol120 commented on #20
@Leahcimkrob I just tested this and it is working just as expected for me. Which minecraft server version and plugin version are you using? Do you happen to use Paper? Or do you use Spigot?

[2021-01-15 21:55] flokol120 commented on #19
closed due to inactivity. Feel free to reopen.

[2021-01-15 21:55] #19 closed

[2021-01-15 21:58] Leahcimkrob commented on #20
We use Java 1.16.2 with Paper

[2021-01-15 22:01] flokol120 commented on #21
@Leahcimkrob never experienced any lag on my server as it is being held in-memory. But I guess if you are low on memory this could be an issue :thinking: Unfortunately though I do not have enough free time to implement this feature. Maybe in a few months. As this would be quite a big change.

[2021-01-15 22:08] flokol120 commented on #20
I should really write this into the readme :smile: ... This plugin apparently (as found by others) does not work properly with Paper, unfortunately. I do not know why but my guess is that due to papers "enhancements" some events are not triggered correctly. I am sorry but I cannot help you with this as I never got into the Paper documentation because I am using spigot.

[2021-01-17 14:57] Leahcimkrob commented on #21
![image](https://user-images.githubusercontent.com/70509359/104846761-75f56d00-58dc-11eb-9b95-81c02916629b.png)

The timing for ICS increases steadily as soon as a user uses the ICS

[2021-02-14 21:27] Leahcimkrob commented on #21
So now the flat file is 4 MB. If there are 10 players on the server and one of them creates a new receiver chest, the TPS goes down, if there are 2 players in a row, the server crashes. Without ICs, the server is stable even with 40 players.

[2021-02-18 20:19] EchocallingEarth opened #22 "Suggestion - multi receiver single chest option"
May I suggest the addition of multi receiver chest. Meaning if a chest has more then 1 item frame attached to it and it is a receiver chest it will receive the items in those frames as well.
Currently only the front facing or main item frame is used to sort and accept items. It would be nice if we could attach say 4 frames each with a different item and those be sorted to the same chest.

This wou

[2021-02-18 20:27] flokol120 commented on #22
@EchocallingEarth I like the idea :thinking: But I do not have enough time to implement your feature request at the moment, due to lack of free time :P. But be assured, I will keep it in mind. For the moment I can only suggest you to take a look into the regex section in the config file. There is a way to sort all cooked items as in your example.
I will just leave this here for now:
`sets:
# examp

[2021-02-18 20:29] flokol120 commented on #21
Thanks for keeping me updated, but I am still very short on free time :(

[2021-02-18 20:30] flokol120 commented on #20
closing due to inactivity.

[2021-02-18 20:30] #20 closed

[2021-02-26 18:31] flokol120 commented on #21
@Leahcimkrob I have just released 1.8.0 which introduces a 'performance mode'. Please update the plugin, enable the said 'performance mode' and report back.

[2021-02-26 18:59] flokol120 commented on #18
@IgnorantMountaineer implemented in 1.8.1
Maybe you can report back if this works as intended.

[2021-02-27 04:29] IgnorantMountaineer commented on #18
Sure, will check tomorrow! Thanks for the continued support on this great project.

[2021-03-09 07:09] Leahcimkrob commented on #21
Sorry, but we use an other Sorter-Plugin.

[2021-03-09 07:09] #21 closed

[2021-03-20 02:03] fcfang opened #23 "Lack of understanding on how to target a specific receiver"
I'm running this on Spigot :
This server is running CraftBukkit version 3026-Spigot-79d53c2-d54b500 (MC: 1.16.5) (Implementing API version 1.16.5-R0.1-SNAPSHOT)

Firstly, thanks for the plugin. I've been searching for something like this for a while.
I've tried to look for documentation on this but can't find anything specific to the problems I'm having - no doubt a lack of understanding on how it

[2021-03-20 10:15] flokol120 commented on #23
@fcfang First of all thanks for your interest in the plugin and huge thanks for the detailed description. I am sure I can help you with that.
I'm am assuming that the things that you are experiencing are due to your regex sets. Also according to your video it seems that you not fully understood how regular expressions (regex or regexp for short) work. Don't get me wrong; that is absolutely fine as

[2021-03-20 15:28] fcfang commented on #23
Thanks very much for taking the time to respond.
Thanks for pointing out the plate and chestplate regexp. I do actually know how they work having use them with sed, vi (Unix) for many years. I was hoping there was some order in which the set rules are parsed hence I do the chestplate first and then the plates to catch the plates that haven't matched. Does the .*plate being in more than one place p

[2021-03-20 15:53] flokol120 commented on #23
Ah I see in this case you are probably better with regexp than me :P
Regarding your questions:
- yes that is correct. If the item in the frame is in a set, this set will be used
- As the regexp set was not implemented by me I can only take a guess at this moment (because I dont have time to look at the code :P): sets are searched from top to bottom and left to right. So in this case the set in the

[2021-03-20 18:31] fcfang commented on #23
I think I've got it working.

In my case, my root cause was that I had too many undefined receiver chests.
I combined the single chests into doubles, named them and with no undesignated receiver chests, everything works fine.

Thanks for your help.

[2021-03-20 18:35] flokol120 commented on #23
Cool! Maybe you would also benefit from the Implementation of #22 :thinking:

[2021-03-20 18:57] fcfang commented on #23
I actually tried that at first (putting multiple frames on a double chest) :)
Great minds and all that but I think that would in most cases still end up with too many chests for me.
I think the sets functionality works great for me.

I think a slightly more flexible way to enable #22 might be to inspect the contents of each chest and put similar items into them. This would, of course, have a prett

[2021-03-20 19:23] flokol120 commented on #23
You are absolutely right about the performance concern of this idea.
I personally like it that I can see directly what is in a chest by just looking at its item frame. But that is just a personal preference I guess.
I'm closing this issue for now as your original point seems to be resolved. But I'll take your idea into consideration when working on #22.
Thanks again for your input and interest.

[2021-03-20 19:23] #23 closed

[2021-06-30 07:16] flokol120 commented on #18
closed due to inactivity

[2021-06-30 07:16] #18 closed

[2021-07-09 00:30] VimaMT opened #25 "Feature Request - limit chest creation via permission"
Could you consider, maybe, setting up a permission node that we can set which specifies how many receiver chests a player can create, based upon either the player or the permission group which the player is in?

For instance, if the player or the group had a permission, ics.max.10, then they could only create 10 receiving chests.

[2021-07-14 07:57] jw-taylor opened #26 "Feature requests - sort on redstone trigger and when full"
Hi, I'm running this on my server and it's being used beneath an iron farm - golem dies, iron and poppies go through hoppers into a chest and the chest sorts them separately.

Because the items come in through hoppers, the plugin sorts the items each time one goes into the chest, so it's running a lot, using a bunch of server resources.

Would it be possible to trigger item sorting from the chest

[2021-07-14 08:02] flokol120 commented on #26
#9

[2021-07-14 08:04] flokol120 commented on #26
@jw-taylor I like the redstone idea but can't make any promises if I can implement it. New terrain for me :P

What do you mean by "sort itself when full"? Items should be stacked on top of each other :thinking:

[2021-07-16 10:09] jw-taylor commented on #26
Sorry I was unclear. What I mean is, in the same way the chest "sends" the items when you close it, and could "send" the items when it receives a redstone trigger, could it also "send" the items when it gets full? So a hopper puts iron into it, and when it is completely filled instead of me having to go open and close it for it to "send" that iron to a receiver chest, it does it itself?

By "full"

[2021-07-23 21:21] flokol120 commented on #25
@VimaMT this should now be working with 1.10.0: https://github.com/flokol120/Spigot-Item-Chest-Sorter/releases/tag/1.10.0

Please report back if this is the behavior you expected.

[2021-07-24 09:02] flokol120 commented on #26
@jw-taylor Sorting the content of a chest is not what I want to do with this plugin as there are most certainly plugins out there doing that already. But sending contents of a chest on a redstone signal what be do-able I guess.
What that be something you could use, without the sorting feature?

[2021-08-03 23:56] jw-taylor commented on #26
Sorry yes, that is what I meant by "sort" - sending the items from the
sender chest to the receivers chests

On Sat, 24 Jul 2021 at 10:02, Flo Dörr ***@***.***> wrote:

[2021-08-10 04:01] baesik opened #27 "Feature Request: Reload Command"
Hi there! Would it be possible to add a command to reload either the config or the item sets we make? Currently having to shutdown and start back up the server for every change is making this process a lot longer. 😅

Thank you!

[2021-08-10 06:31] flokol120 commented on #27
Hi @baesik,

I would have guessed the /reload command should do this. Or do you want to specifically reload only this plugin because /reload reloads to many Plugins?

[2021-08-10 09:17] baesik commented on #27
Thanks for the reply.
Spigot advises against using the command. While I don’t know the full specifics, I’ve read that it’s potentially harmful.

[2021-08-10 09:43] flokol120 commented on #27
Interesting :D I'll look into it and create that command. Should be fairly simple 🤔

[2021-08-11 14:27] baesik opened #28 "Sugar Cane isn't respected as a set"
I tried putting just a plain sugar cane on an item frame, then sending a few sugar canes to the receiver chests and they get put into an air chest.

[2021-08-11 19:01] baesik commented on #28
https://pastebin.com/UULd0Xgw

Most of the sets were from the Spigot discussion board that someone shared and I slightly tweaked it.

[2021-08-14 13:12] flokol120 commented on #28
@baesik just tested this, works correctly as expected. For further debugging please answer the following questions:

-  which version are you using (both minecraft and the plugin)
- Are you using the spigot fork 'Paper'
- How many sender and receiver chests do you have in your specific case?
- Is your chest connected with the sender? You can check this by selecting the sender and right clicking in

[2021-08-14 15:38] Virologicbody opened #29 "Cross dimension useage?"

[2021-08-14 15:45] Virologicbody opened #30 "Cross dimensional useage?"
Just a question....

Does this plugin work cross dimensions?

I added a sender chest in the nether then added a receiver in the overworld. The receiver chest has an item frame with an item in it.
When I added items to the sender chest in the nether I got a message in chat saying the receiver chest has no item frame.
The items do not even appear in the receiver chest.

![2021-08-14_16 22 10](https:

[2021-08-14 15:53] #29 closed

[2021-08-14 16:52] flokol120 commented on #30
Hi @Virologicbody,

do you have the betweenworlds permisson set?  I noticed that OPs does not have it by default (which is wrong). But can you test it again after granting the permisson to you manually?

[2021-08-14 22:27] Virologicbody commented on #30
Hi

Yes, I did have that permission.
I was originally as OP but de-opped myself which was when I found I had a few missing permissions.

The plugin insisted I need ics.add.sender permission, but that is not listed on the Spigot page.
Also, regarding the permissions.. we have ics.create and ics.add but don't they do the same thing? If we 'add' a sender or receiver we are creating it?
Sorry if I hav

[2021-08-15 09:44] flokol120 commented on #30
@Virologicbody That ics.add existed was not correct. There should only be ics.create. Thanks for pointing that out!

The Stacktrace looks just like StackTraces I have seen from people using Paper (instead of Spigot). Are you using Paper?

There are no conditions you have to meet when creating a sender/receiver chest.

[2021-08-15 10:10] flokol120 commented on #25
@VimaMT one last ping, before closing 😛

[2021-08-15 10:39] Virologicbody commented on #30
Yes, I am using Paper.
I'm guessing it was a random error as I had been using the plugin for a while before that appeared in the console but haven't seen an error since.

Can we have support if running Paper?
If so I would like to open an issue.

I'm still struggling with getting chests to 'link' in some circumstances but totally unable to work out why.
I have GriefProtection plugin on my server w

[2021-08-15 10:42] flokol120 commented on #30
@Virologicbody As stated everywhere, Paper is not supported and will not be. Paper promises to have better performance, but constantly kills Events. I don't have enough time to read the Paper docs. This is a Spigot Plugin.

[2021-08-15 10:42] #30 closed

[2021-08-15 11:08] Virologicbody commented on #30
I understand the plugin is for Spigot and you don't support anything else.

If I change my server to Spigot and the problem persists, will you help me as I really like your plugin.

[2021-08-15 11:58] Virologicbody opened #31 "Inconsistent item frame recognition when setting chests between nether and overworld"
The plugin randomly fails to recognize if there is an item frame on a receiver chest in the overworld when setting the sender chest in the nether.
This seems to only be the case in some circumstances as sometimes it does work.

Sender chest in the nether
![2021-08-14_22 17 41](https://user-images.githubusercontent.com/45987191/129477659-747beba5-a1c9-491a-a7de-e87080cf4853.png)

Receiver chest in

[2021-08-15 12:51] flokol120 commented on #30
@Virologicbody sure, as stated in a all Readmes; if the problem persists using spigot, this is a bug. But using spigot I could not reproduce it. If you happen to reproduce the problem using spigot, feel free to reopen the issue.

[2021-08-15 12:52] flokol120 commented on #31
@Virologicbody this could happen due to world loading issues. I will look into it, but cannot promise to fix it :(

[2021-08-15 18:45] Virologicbody commented on #31
Thanks for even considering looking at this.

I used the same world on Spigot as I was using on Paper and the issue is the same so I can reproduce the issue but have no idea what causes it as I have tried everything I can think of.
Tried adding chests with or without an item frame when I allocate them, changing the orientation of the chests and their locations, changing the sides the item frame is

[2021-08-15 19:54] Virologicbody commented on #31
I believe you may be correct about the world loading.

After testing I think I have found the cause... if you set a chest either in the overworld or nether and go back/forth between the dimensions within 10 seconds the chests work.
If you remain in either dimension for more than 10 seconds the chests fail.
I tested times from instantly going through the portal to waiting 10 seconds (the best I can

[2021-08-16 15:46] flokol120 commented on #31
@Virologicbody Thanks for the deep testing. In my test however I couldn't get the nether to unload using spigot :( Was you video captured on the paper or spigot server?

[2021-08-16 16:41] Virologicbody commented on #31
That was recorded on Spigot 1.17.1

[2021-08-16 20:49] Virologicbody commented on #31
After a few more hours of testing, I have news.

Firstly, I would like to appologize for maybe wasting your time with this issue. I can confirm that this plugin works across dimensions as intended if running a Spigot server.

By default, this will not work on a Paper server unless the chunk unloading (when a player leaves a dimension) is disabled:

![Paper_yml](https://user-images.githubuserconten

[2021-08-19 08:06] #31 closed

[2021-08-19 08:07] flokol120 commented on #25
Closed due to inactivity

[2021-08-19 08:07] #25 closed

[2021-08-19 09:35] flokol120 commented on #26
Please verify if https://github.com/flokol120/Spigot-Item-Chest-Sorter/releases/tag/1.11.0 has your intended feature in it :P

[2021-08-19 09:39] flokol120 commented on #27
@baesik Please verify if the /ics reload command works as expected in https://github.com/flokol120/Spigot-Item-Chest-Sorter/releases/tag/1.11.0

[2021-09-02 12:39] Virologicbody opened #32 "Ability to remove console messages for automatic sorting"
We have the ability to allow sender chests to automatically empty/send their contents when fed from a hopper... would there be any possibility of allowing us to reduce or even disable the messages from the server console?

[13:38:43 INFO]: sorted 1 prismarine shard to your chest
[13:38:43 INFO]: sorted 1 prismarine shard to your chest
[13:38:44 INFO]: sorted 1 prismarine shard to your chest
[13:38

[2021-09-02 12:43] flokol120 commented on #32
@Virologicbody alright I'll add this alongside the other chat configs in the config.yml.

[2021-09-03 14:57] flokol120 commented on #32
@Virologicbody
[code]
The server output should not be made if the chatMessages.sorted variable in the config is set to false. Can you please confirm that chatMessages.sorted is set to false like this:
[code]

[2021-09-03 14:58] flokol120 commented on #28
@baesik ping before closing due to inactivity.

[2021-09-03 14:59] flokol120 commented on #26
@jw-taylor Do you have time to test it?

[2021-09-05 20:40] Virologicbody commented on #32
I am sorry, I did not read that variable. Mine is set to True...

[2021-09-06 16:42] flokol120 commented on #32
@Virologicbody So setting it to false works as expected for you?

[2021-09-08 12:22] Virologicbody commented on #32
Hi
Yes, changing it to false works as expected. Thank you

[2021-09-08 12:22] #32 closed

[2021-09-22 16:28] flokol120 commented on #28
closed due to inactivity.

[2021-09-22 16:28] #28 closed

[2021-09-22 16:29] flokol120 commented on #26
closed due to inactivity

[2021-09-22 16:29] #26 closed

[2021-12-16 22:13] MknGui opened #33 "Can you make download link from spingot not a external link?"
I have used your plugin in another servers and I wanna use in a server from Aternos, but it don't acept external links.
if you can't it's all right, forgive me for the inconvenience sz
Sorry, for my english, i didn't write for a long time, i'm brazilian.

[2021-12-17 09:14] flokol120 commented on #33
Hi there, thanks for the interest in my plugin.
I am not sure how I can help you with that 🤔Sounds like an issue with your server provider to me. But if there is something I can do, please tell me what 😁

[2021-12-17 12:35] MknGui commented on #33
Ty, I'll change the provider
 I love your plugin 🥰

[2021-12-17 20:37] flokol120 commented on #33
@MknGui alright, but maybe I could have helped you :thinking: Were can you download plugins from using Aternos?

[2021-12-17 21:23] MknGui commented on #33
only bukkit and spingot, i can't up by myself, i guess it's for security, but aternos is free to play i should not ask for much.

i can't add your plugin because the download is from here "external link", not by the spingot site

sorry my English again, appreciate the patience

[2021-12-17 21:56] flokol120 commented on #33
@MknGui Okay, I understand now. Idea of providing the jar files here was to also centralize the issues on github. But if it would help some people (you), I am happy to upload the jar to spigot aswell. That's not big of a deal.

[2021-12-17 22:13] flokol120 commented on #33
Arg, I am sorry but I cannot upload the .jar file to spigot as it exceeds the max. file size allowed by spigot :( Sorry about that.

[2021-12-17 22:13] #33 closed

[2022-01-05 22:28] Shofexxx opened #34 "Some items doesnt sort when sets are configured"
Hi, first of all I want you to thank you for great plugin, but I have problem with sets. For example, when i want to sort jungle planks and jungle slabs together it wont work.

Here is the line: - [jungle_planks, jungle_slab]
also it didnt work for boats and crafting tables.

Thank you so much and have a nice rest of the day. :)

[2022-01-05 22:43] flokol120 commented on #34
Hi @Shofexxx,

please provide me your complete config.yml

[2022-01-05 23:03] Shofexxx commented on #34
https://pastebin.com/zy3CcmrR

Here you go

[2022-01-07 16:38] Shofexxx commented on #34
Idk somehow it fixes itself. But thank you:)

[2022-01-24 17:15] Dartsgame974 opened #35 "Tutorial"
Hello, i'm happy of your plugin but  I don't undersand it. Can You explain with video or images?

[2022-01-24 17:58] flokol120 commented on #35
Hi @Dartsgame974 which aspect of the plugin don't you understand exactly?

[2022-01-30 22:11] nefus8 opened #36 "Prioritize Regex [Suggestion]"
Hello,

I tried to group some items so they go in the same chest with sets and regex. But I want for example all the stone items to go on a stone chest, so I've added a regex : `'.*stone.*'` but I want the glowstone to go on the nether chest, so in the nether sets, I wrote `'glowstone'`.

But glowstone goes into the stone chest, so I would like to suggest a prioritisation of the regex, so that if

[2022-01-30 22:35] flokol120 commented on #36
Strange from the code I looked at, it should already match on the first set in the yml file :thinking: But I will take a deeper look into it and implement the second solution you suggested.

[2022-02-05 11:04] flokol120 commented on #36
@nefus8 I just tested this in my test world and it was working as expected for me. What item is in the item frame of the two chests?

[2022-03-04 21:27] #36 closed

[2022-03-04 21:27] #35 closed

[2022-04-08 14:38] rybuilder23 opened #37 "Support for paper - 1.18.2"
Most people use paper for the best performance
So i hope you can add it.

now you get eror's like this.
https://pastebin.com/ACUez2Xc

[2022-04-12 16:51] flokol120 commented on #37
Thanks for the interest in my plugin.

I suspect that one of the "patches" that paper includes (on top of spigot) arises those issues in favor of "performance".

Supporting Paper is easier said than done. I have no experience with it whatsoever, which implies I would have to read through their docs. At the time being I unfortunately do not have the time for this :(

But I'll leave this open. Maybe

[2022-05-11 20:21] flokol120 commented on #37
@rybuilder23 I just started to take a deeper look into Paper. Paper states in their docs that there wold be no adjustments needed.

Looking closer in your StackTrace, it seems like you just run the command alone `/ics`. What were you trying to achieve with that?

[2022-05-14 10:41] #22 closed

[2022-05-14 10:45] flokol120 commented on #22
@EchocallingEarth good news: I finally had time for this. I don't know if you still cared about this, but I said I'll keep you posted :D

This is present in 1.13.0

[2022-05-14 10:54] flokol120 commented on #37
@rybuilder23
I've tested Paper and made some adjustments. Paper should work now, however your issue is not related to paper.

[2022-05-16 16:18] GamingHQ opened #38 "Stopped working after serverboot"
[code]

[2022-05-18 08:14] GamingHQ commented on #38
The following information comes with this error.

1. When the error kicked in, the server and Minecraft in common had issues with logging into the game. It could not fetch my player information. Not sure if that's coming in handy to know.
2. Items that were placed in the chest remain seenable as a ghost objects, but still can interact with it. On rare occasions, you can even pick the items that ar

[2022-05-19 16:44] flokol120 commented on #38
Hi @GamingHQ,

is this behavior reproducible? If yes what can I do to find this error? If not I am afraid I cannot do much. The error you posted does not mention a single class I wrote, meaning it could also be a spigot bug.

Regarding your suggestions: I like them, please open a new issue for those. If I happen to have some time to spare, I'll look into those.

[2022-05-20 10:05] GamingHQ commented on #38
This error is not reproducible unless the login servers of Minecraft are acting up again. This error happened on the day that we had problems with the login servers. I spent 20 minutes on logging in that day as it kept thinking I was willing to boot up a demo while I'm a game pass holder.

I'm not a huge player in the Minecraft world. i chucked myself into the deep with it. ( playing it now for a

[2022-05-20 10:14] GamingHQ opened #39 "Suggestions"
I do have a few suggestions to improve the plugin if possible.

/ics share [friends/all]
- Sharing the chest with others so they can use it as well to store items in.

/ics unshare [friends/all]
- stopping with sharing listed above.

/ics remove receiver *
- A wildcard to remove all receivers in one go. ( i mean, i have aproxx 700 chests a.t.m )

/ics bulk add receiver
- Able to add more chests at

[2022-05-24 12:53] flokol120 commented on #38
@GamingHQ alright. If it is not reproducible, I am not able to debug it, sorry :( But thanks for the input!

Feel free to re-open this, if you experience the error again.

[2022-05-24 12:53] #38 closed

[2022-05-25 19:11] Dartsgame974 opened #40 "Is Paper the only supported server?"
Hello

the plugin works on another api than Paper?

[2022-05-25 19:15] flokol120 commented on #40
Hi @Dartsgame974, I am sorry, but I don't understand your question. Could you rephrase it?

[2022-05-25 19:16] flokol120 commented on #37
closed due to inactivity.

[2022-05-25 19:23] Dartsgame974 commented on #40
The plugin work only with paper or I can use anthoer version like spigot or mohist?

[2022-05-25 19:28] flokol120 commented on #40
@ I see. The plugin was originally intended for Spigot. Paper support is new. I don't know what Mohist, hence it's not tested.

[2022-05-25 21:12] flokol120 commented on #40
@Dartsgame974 What version of the plugin and paper are you using? Is there any error logged?

[2022-05-25 21:48] Dartsgame974 commented on #40
i don't use paper i use purpur
![image](https://user-images.githubusercontent.com/80755313/170372915-6aabb73a-1f09-4a51-87cf-a44171a36b2c.png)

[2022-05-26 10:00] flokol120 commented on #40
@Dartsgame974 I haven't heard of Purpur either (I thought you meant paper and made a typo :D). The Purpur FAQ states this (https://purpurmc.org/docs/FAQ/#do-craftbukkitspigotpaperpufferfish-plugins-work-on-purpur)

_Yes. The only time there's incompatibility is due to authors hard-coding support for CraftBukkit/Spigot, ignoring the existence of Paper and its forks. If you run into any bugs that yo

[2022-05-26 10:00] #40 closed

[2022-06-22 16:18] f1nnie2210 opened #41 "Problems with hopper"
I have enabled sendFromHopperOrSender and sendFromHopperOrSenderNoEmptySlot but its still didnt work, no items have been move :((

[2022-06-27 16:16] flokol120 commented on #41
@f1nnie2210 cannot not be reproduced on my end. Which Minecraft version are you using? Are you using Spigot or Paper (or something else)? Which Version of the plugin are you using? What is your exact setup (which item is in the item frame of the receiver, screenshot would also be very helpful)? Please provide your config.yml

[2022-07-25 17:41] flokol120 commented on #41
closed due to inactivity

[2022-07-25 17:41] #41 closed

[2022-09-14 06:55] rocamocha commented on #8
If it's possible to get a list of all the sender and receiver chests in a chain when a new sender/receiever chest is made for example:

A sends to B and C
C sends to B
B sends to D

Player tries to make D send to C (which would create infinite loop D -> C -> B -> D ...
The check returns the list of the entire sender/receiver chain for C, which includes the chains for its chains
-> A (sends to here

[2022-10-15 08:15] flokol120 commented on #8
Yes of course. But getting that list is not as trivial as you think. B does not know it is receiving items from C using the current data structure. Getting all the children is not the problem, but the parents. To implement this nicely you would have to use a data structure fitting graphs better than the current.
Another option would be to implement some kind of backlinks (which chests are pointing

[2022-11-10 03:37] javipas opened #42 "Compatibility with paper 1.19.2"
Hello, i have a minecraft server with some friends with paper 1.19.2 and we are having problems using your plug-in.
Any news about the compatibility?

[2022-11-10 06:17] flokol120 commented on #42
I did not test 1.19.2 yet. I will try to take a look into it by the end of the week.

[2022-11-21 12:49] Jared-Cooke commented on #39
Would it be possible to have some default sets that are default commented out in config but pre-defined sets like "All Armor" "All Tools / Weapons" "All Nether Blocks" "All End Blocks" Basically the creative tabs as sets. Having the ability to have all redstone items be thrown into a single chest would be helpful!

[2022-11-22 21:52] flokol120 commented on #42
@javipas
Sorry had more work than anticipated. I can confirm that 1.19.2 is not working for me either.

**But there is a temporary work-around: Disable the animations in the config.yml**

[code]